body {
	background-color: white;
	
}



.joinForm {
  padding-top: 50px;
  padding-bottom: 50px;
}
.joinSe1 {
  text-align: center;
}
.joinSe1 h3 {
  font-size: 30px;
}
.joinSe1 p {
  color: gray;
  font-size: 14px;
  padding-bottom: 30px;
}
.wellcome {
  border: 1px solid black;
  padding: 20px;
}
.wellcome h3 {
  font-size: 20px;
  padding-bottom: 5px;
}
.wellcome h5 {
  font-size: 15px;
  color: #999;
}
.terms1,
.terms2,
.terms3 {
  padding-top: 50px;
  font-size: 14px;
}
textarea {
  width: 100%;
}
.imageBtn {
  text-align: center;
}
.contents {
  background-color: rgb(216, 216, 216);
  padding: 20px;
}
.contents h3 {
  font-size: 20px;
  padding-bottom: 5px;
}
.contents h5 {
  font-size: 15px;
}
table {
  border: 1px solid rgb(224, 224, 224);
  width: 100%;
}
tr {
  border-bottom: 1px solid rgb(224, 224, 224);
}
td {
  border-right: 1px solid rgb(224, 224, 224);
}
.Information1 {
  padding-top: 30px;
}
td:nth-child(1) {
  width: 150px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  background-color: rgb(245, 245, 245);
}
td:nth-child(2) {
  height: 30px;
  padding-left: 5px;
  font-size: 12px;
}
.Information1 input {
 /*  height: 30px; */
  padding-left: 5px;
}
select {
  height: 20px;
}
.size {
  font-size: 12px;
}
.Information2 {
  padding-top: 50px;
}
.imageBtn2 {
  text-align: center;
  border-top: 1px solid rgb(224, 224, 224);
  padding-top: 30px;
}

input#submit {
	background:url(/img/member/btn_confirm.gif);
	background-repeat: no-repeat;
	width: 65px;
	height:32px;
	border: 0;
}
