.communitySection2 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.communitySection2 div div:nth-child(1) {
  font-size: 30px;
  padding-bottom: 10px;
}
.communitySection2 div div:nth-child(2) {
  color: gray;
  font-size: 14px;
  padding-bottom: 30px;
}
.question {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.question table {
  width: 100%;
  /* height: 400px; */
  border-top: 2px solid black;
}
.question tr {
  width: 100%;
  border-bottom: 1px solid rgb(236, 236, 236);
  height: 40px;
}
.question td:nth-child(1) {
  width: 30%;
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  padding: 10px;
}
.question td:nth-child(2) {
  width: 90%;
  padding: 10px;
  text-align: left;
}
input[type="text"] {
  padding-left: 5px;
}
input[type="select"] {
  font-size: 12px;
}
option {
  font-size: 12px;
}
.one {
  width: 40%;
}
.two {
  width: 60%;
}
.btn {
  text-align: center;
  border-top: 1px solid rgb(224, 224, 224);
  padding-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .one {
    width: 90%;
  }
  .two {
    width: 90%;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .one {
    width: 90%;
  }
  .two {
    width: 90%;
  }
}